body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.chat-container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

#chat-box {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background: #1e293b;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px;
  background: #38bdf8;
}